<!DOCTYPE html> 
<html>
<head>
	<title>Home</title>>
	<link rel="stylesheet" type="text/css" href="../../../static/styles/style.css">
</head>
<body style="background-color: #121212;">
	<div class="centre" class="centre" style="font-family: arial;">
		<h1 style="color: white; font-family: arial;">View all shows <a style="color: gray;" href="/shows">here</a></h1>
		<h1 style="color: white; font-family: arial;">View all movies <a style="color:gray;" href="/movies">here</a></h1>
	</div>
</body>
</html>