<!DOCTYPE html> 
<html>
<head>
	<title>{movie_title}</title>
	<link rel="stylesheet" type="text/css" href="/static/styles/style.css" />
</head>
<body style="background-color: #121212;">
	<div class="centre" style="font-family: arial;">
		<h1 style="color: white;">{movie_title}</h1>
		<video width="720" controls autoplay>
		    <source src="/static/movies/{movie}/movie.mp4" type="video/mp4">
		    <p>To view this video please consider upgrading to a web browser that supports HTML5 videos</p>
		</video>
		<p style="color: white;">Click <a style="color: gray;" href="/movies/">here</a> to view other titles</p>
	</div>
</body>
</html>